#p1{
    width: 100px;
    height: 100px;
    color: yellow;
   margin: 10px 0px 0px 0px;
   background-image: url("../../assets/1624876723309.jpeg");
   background-size: 100px 100px;
}
#p2{
    width: 100px;
    height: 100px;
    color: yellow;
   margin: 10px 0px 0px 120px;
   background-image: url("../../assets/1624876723309.jpeg");
   background-size: 100px 100px;
}
#p3{
    width: 100px;
    height: 100px;
    color: yellow;
   margin: 10px 0px 0px 120px;
   background-image: url("../../assets/1624876723309.jpeg");
   background-size: 100px 100px;
}
#p4{
    width: 100px;
    height: 100px;
    color: yellow;
   margin: 10px 0px 0px 0px;
   background-image: url("../../assets/1624876723309.jpeg");
   background-size: 100px 100px;
}
#p5{
    width: 100px;
    height: 100px;
    color: yellow;
   margin: 10px 0px 0px 240px;
   background-image: url("../../assets/1624876723309.jpeg");
   background-size: 100px 100px;
}
#p6{
    width: 100px;
    height: 100px;
    color: yellow;
   margin: 10px 0px 0px 0px;
   background-image: url("../../assets/1624876723309.jpeg");
   background-size: 100px 100px;
}
#p7{
    width: 100px;
    height: 100px;
    color: yellow;
   margin: 10px 0px 0px 120px;
   background-image: url("../../assets/1624876723309.jpeg");
   background-size: 100px 100px;
}
#p8{
    width: 100px;
    height: 100px;
    color: yellow;
   margin: 10px 0px 0px 120px;
   background-image: url("../../assets/1624876723309.jpeg");
   background-size: 100px 100px;
}
#p9{
    width: 100px;
    height: 100px;
    color: yellow;
   margin: 10px 0px 0px 0px;
   background-image: url("../../assets/1624876723309.jpeg");
   background-size: 100px 100px;
}
#p10{
    width: 100px;
    height: 100px;
    color: yellow;
   margin: 10px 0px 0px 140px;
   background-image: url("../../assets/1624876723309.jpeg");
   background-size: 100px 100px;
}
#p11{
    width: 100px;
    height: 100px;
    color: yellow;
   margin: 10px 0px 0px 0px;
   background-image: url("../../assets/1624876723309.jpeg");
   background-size: 100px 100px;
}
#p12{
    width: 100px;
    height: 100px;
    color: yellow;
   margin: 10px 0px 0px 190px;
   background-image: url("../../assets/1624876723309.jpeg");
   background-size: 100px 100px;
}
#p13{
    width: 100px;
    height: 100px;
    color: yellow;
   margin: 10px 0px 0px 0px;
   background-image: url("../../assets/1624876723309.jpeg");
   background-size: 100px 100px;
}
#p14{
    width: 100px;
    height: 100px;
    color: yellow;
   margin: 10px 0px 0px 240px;
   background-image: url("../../assets/1624876723309.jpeg");
   background-size: 100px 100px;
}
